<div class="row" style="position: relative;">
  <h3 class="category-title">What side are you on?</h3>
  <div class="col-xs-6" style="padding: 0px; position: relative;">
    <div class="overlay">
      <div class="jumbotron text-center developer-background">
        <%= link_to 'Developer', user_category_path(@categories.first), class: 'cus-btn' %>
      </div>
    </div>
  </div>
    <div class="col-xs-6" style="padding: 0px; position: relative;">
      <div class="overlay">
      <div class="jumbotron text-center designer-background">
        <%= link_to 'Designer', user_category_path(@categories.last), class: 'cus-btn' %>
      </div>
    </div>
  </div>
</div>