<!-- Render message on the left side as current_user is the receiver-->
<li class="media">
  <div class="media-left">
    <a href="<%= user_path(id: message.sender.id) %>">
      <%= image_tag(message.sender.avatar(40), class: "media-object img-rounded small-avatar") %>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= message.sender.name %></h4>
    <p><%= message.body %></p>
  </div>
</li>