<!--if the message from current user, it will render on the right-->
  <li class="media">
    <div class="media-body">
      <h4 class="media-heading text-align-right"><%= message.sender.name %></h4>
      <p><%= message.body %></p>  
    </div>
    <div class="media-right">
      <%= render partial: "users/user_small_avatar", object: message.sender, as: :user %>
    </div>
  </li>