<!-- Render message on the left side as current_user is the receiver-->
<li class="media">
  <div class="media-left">
    <%= render partial: "users/user_small_avatar_link", object: message.sender, as: :user %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= message.sender.name %></h4>
    <p><%= message.body %></p>
  </div>
</li>