<% if !book_review.user_id.nil? %>
	<div class="review-box effect">
		<section class="notepaper">
      <label>Đánh giá:</label><div class="review-rating" data-score="<%= book_review.rating %>"></div>
		  <figure class="quote">
		    <blockquote class="curly-quotes">
		      <%= book_review.content %>
		    </blockquote>
		    <figcaption class="quote-by">— <%= book_review.user.email %></figcaption>
		  </figure>
		</section>
	</div>
	<br>
<% end %>


