<div class="review-box effect">
	<section class="notepaper">
		Đánh giá: <%= book_review.rating %>
	  <figure class="quote">
	    <blockquote class="curly-quotes">
	      <%= book_review.content %>
	    </blockquote>
	    <figcaption class="quote-by">— <%= book_review.user_id %></figcaption>
	  </figure>
	</section>
</div>
<br>

