<div class="review-box effect">
	<section class="notepaper">
	<div>
		<label>Đánh giá:</label><div class="review-rating" data-score="<%= book_review.rating %>"></div>
	</div>
	  <figure class="quote">
	    <blockquote class="curly-quotes">
	      <%= book_review.content %>
	    </blockquote>
	    <figcaption class="quote-by">— <%= find_reviewer_email(book_review) %></figcaption>
	  </figure>
	</section>
</div>
<br>

