<div class="container">
  <div class="row">
    <% @group.book_threads.each do |thread| %>
        <div class="col-xs-3">
          <div class="card">
            <img class="card-img-top" src="<%= thread.book.image_url %>" alt="Card image cap" style="max-width: 100%;">
            <div class="card-block">
              <h4 class="card-title"><%= thread.name %></h4>
              <a href="#" class="btn btn-primary">Enter group</a>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>