<div class="col-xs-12 col-md-4">
  <div class="card">
    <%= image_tag user.gravatar %>
    <div class="card-block">
      <h4 class="card-title"><%= user.try(:name) %></h4>

    </div>
  </div>
</div>