<% height = 40 unless defined?(height) %>
<% popover_content = render(partial: "users/user_info", object: user, as: :user)
  popover_content = popover_content + render(partial: "book_items/book_item_request_btn", object: book_item, as: :book_item) unless !defined?(book_item) %>  
<a href="<%= user_path(user.id) %>" data-toggle="popover" trigger="manual" data-placement="top" data-content='<div class="popover-center"><%= popover_content %></div></a>'>
  <%= image_tag(user.avatar(height), class: "img-rounded small-avatar") %>
</a>
<%= render partial: "messages/create_modal", locals: {sender: current_user, receiver: user} if signed_in? && current_user != user %>