<div class="jumbotron user-cover-background">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_tag({controller: "users", action: "index"}, method: :get, class: "input-group") do %>
        <div class="input-group">
          <%= text_field_tag(:q_user, nil, placeholder: "Name or email...", class: "form-control") %>
          <span class="input-group-btn">
            <%= submit_tag("Find", :name => nil, class: "btn btn-primary") %>    
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>