<% if user_signed_in? && current_user != @user %>
  <div class="col-xs-12 col-md-4">
    <div class="card">
      <%= image_tag user.avatar %>
      <div class="card-block">
        <h4 class="card-title"><%= user.try(:name) %></h4>
        <%= follow_button(current_user.id, user.id) %>
      </div>
    </div>
  </div>
<% end %>