<% height = 40 unless defined?(height) %>
<a href="<%= user_path(user.id) %>" title="<%= user.name || user.email %>" data-toggle="popover" trigger="manual" data-placement="top" data-content="<%= render partial: "users/user_info", object: user, as: :user %>">
  <%= image_tag(user.avatar(height), class: "img-rounded small-avatar") %>
</a>