<h3>Your shelves</h3>
<ul class="list-group">
	<% current_user.shelves.each do |shelf| %>
	<span class="tag tag-default tag-pill pull-xs-right">12</span>
	<li class="list-group-item"><%= shelf.name %></li>
	<% end %>
	<li class="list-group-item">
		<%= link_to "Create new shelf", new_shelf_path %>
	</li>
</ul>