<%= render 'user_header' %>
<div class="container main-content">
  <h4>Danh sách thành viên:</h4>
  <!--<div id="masonry-container" class="masonry-container transitions-enabled infinite-scroll clearfix">-->
    <%= render partial: 'user', collection: @users %>
  <!--</div>-->
</div>