<% if !book_item.nil? %>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-sm" data-target="#modal_book_item_<%= book_item.id.to_s %>" data-toggle="modal" align="center">Borrow</button>
<% end %>