<div class="container">
  <div class="row">
    <h3>Add your comment</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="widget-area no-padding blank">
        <div class="status-upload">
          <%= form_for @post do |f| %>
          <!--<form>-->
            <!--<textarea placeholder="What are you doing right now?" ></textarea>-->
              <%= f.text_area :content, placeholder: 'What do you think?' %>
            <ul>
              <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
              <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
              <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
              <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
            </ul>
            <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
          <!--</form>-->
          <% end %>
        </div><!-- Status Upload  -->
      </div><!-- Widget Area -->
    </div>
  </div>
</div>
