<% if !book.nil? %>
  <div class="<%= @size %>-book-cover-box">
    <% if defined?(source) && source == "goodreads" %>
      <%= link_to image_tag(image_url_replacement(book), :alt => book.title, :class => "#{@size}-book-cover"), "/goodreads/#{book.id}" %>
    <% else %>
      <%= link_to image_tag(image_url_replacement(book), :alt => book.title, :class => "#{@size}-book-cover"), book_path(book.id) %>
    <% end %>
  </div>
<% end %>
