<% @size ||= "small" %>
<% source = nil unless defined?(source) && source == "goodreads" %>
<% if !book.nil? %>
  <div class="<%= @size %>-book-block panel panel-default">
    <%= render partial: 'books/book_small', object: book, as: :book, locals: {source: source} %>
  </div>
<% end %>