<% if !book.nil? %>
  <% @size ||= "small" %>
  <% if defined?(source) && source == "goodreads" %>
    <% show_link = "/goodreads/#{book.id}" %>
  <% else %>
    <% show_link = book_path(book.id) %>
  <% end %>
  <div class="<%= @size %>-book-cover-box">
    <%= link_to image_tag(image_url_replacement(book), :alt => book.title, :class => "#{@size}-book-cover"), show_link %>
  </div>
<% end %>
