<% if !book.nil? %>
  <div class="<%= @size %>-book-info">
    <h4><%= book.title %></h4>
    <%= author_replacement(book) %>
    <hr>
    <p class="book-description"><%= description_replacement(book).html_safe %></p>
  </div>
<% end %>


