<div class="row">
<div class="card">
		<div class="card-header">
			<div class="reviewer_name"><%= review.user.name %></div>		
		</div>
		<div class="card-block">
			<h4 class="card-title"><%= review.rating %></h4>
			<p class="card-text"><%= review.content %></p>
		</div>
	</div>
</div>