<div class="container main-content">
  <h3 class="text-xs-center">Search resulfs for <strong><%= params[:q] %></strong></h3>
  <hr/>
  <h4 class="text-xs-right">From our database</h4>
  <div class="row">
    <% if @books.any? %>
      <%= render @books %>
    <% else %>
      <p class="alert alert-info">Khong thay sach trong co so du lieu cua chung toi</p>
    <% end %>
  </div>
  <br/><hr/>
  <h4 class="text-xs-right">From Goodreads database</h4>
  <div class="row">
    <% if @books_from_goodreads.total_results.to_i == 1 %>
      <%= render partial: 'book_from_goodreads', locals: {book: @books_from_goodreads.results.work.best_book, source: "goodreads"} %>
    <% else %>
      <% @books_from_goodreads.results.work.each do |book| %>
        <%= render partial: 'book_from_goodreads', locals: {book: book.best_book, source: "goodreads" } %>
      <% end %>
    <% end %>
  </div>
</div>  