<% @size ||= "small" %>
<%= render 'application/search_box' %>
<div class="container main-content">
  <h4 class="text-xs-center">Search result for: <strong><%= params[:q] %></strong></h4>
  <div id="masonry-container" class="masonry-container transitions-enabled infinite-scroll clearfix">
    <% if !@books.nil? %>
      <%= render partial: 'books/book', collection: @books, as: :book %>
    <% end %>
    <%= render partial: 'books/book', collection: @books_from_goodreads, as: :book , locals: {source: "goodreads"} %>
  </div>
</div>