<div class="jumbotron horizontal-wood-background">
  <div class="container main-content">
    <%= render @book %>
  </div>
</div>

<% @book.book_reviews.each do |review| %>
    <%= render partial: 'books/review', locals: {review: review} %>
<% end %>