<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-justified panel" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#borrower" role="tab">Yêu cầu từ bạn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#lender" role="tab">Yêu cầu tới bạn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#messages", role="tab">Tin nhắn của bạn</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content panel">
    <div class="tab-pane active" id="borrower" role="tabpanel">
      <% if @borrower_transactions.count == 0 %>
      <div class="panel">
        <p>Bạn chưa mượn cuốn sách nào cả.</p>
      </div>
      <% else %>
      <% @borrower_transactions.each do |transaction| %>
        <%= render partial: "transactions/transaction", locals: { transaction: transaction } %>
      <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="lender" role="tabpanel">
      <% if @lender_transactions.count == 0 %>
      <div class="panel">
        <p>Không có yêu cầu nào gửi tới bạn.</p>
      </div>
      <% else %>
      <% @lender_transactions.each do |transaction| %>
        <%= render partial: "transactions/transaction", locals: { transaction: transaction } %>
      <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="messages" role="tabpanel">
      <% if @current_user_messages.count == 0 %>
      <div class="panel">
        <p>Không có tin nhắn nào.</p>
      </div>
      <% else %>
      <ul class="media-list">
        <% @current_user_messages.each do |message| %>
          <%= render partial: "messages/message", locals: {message: message} %>
        <% end %>
      </ul>
      <%= render partial: "messages/form", locals: {sender: current_user, receiver: User.first} %>
      <% end %>
      
    </div>
  </div>
</div>