<div class="small-book-block panel panel-default">
  <div class="clearfix">
    <div class="small-book-left-sidebar">
      <% user = User.find(transaction_review.reviewer_id) %>
      <%= image_tag(user.avatar(40), class: "img-circle big-avatar") %>
    </div>
    <div class="small-book-right-sidebar">
      <h5><%= link_to user.name %></h5>
      <div class="review-rating" data-score="<%= transaction_review.rating %>"></div>
      <hr>
      <p class="book-description">
        <%= transaction_review.content %>
      </p>
    </div>
  </div>
</div>
