@import "bootstrap";
@import "bootflat";
@import "users";

$envelope-shadow:                  0 1px 2px rgba(0, 0, 0, .2) !default;
$book-cover-shadow:         4px 3px 10px 4px rgba(0, 0, 0, .4) !default;

/*landing page*/
.authentication-background {
  background-image: image-url('background/authentication.jpg');
  background-size: cover;
  position: relative;
  background-position:left bottom;
  height: 680px;
  // padding-top: 80px;
}

.authentication-quote {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.authentication-box {
  padding-top: 80px;
}

/*book page*/
.horizontal-wood-background {
  background-image: image-url('background/background-wood-horizontal.jpg');
  background-repeat: repeat-y;
  position: relative;
  min-height: 620px;
  padding-top: 50px;
  padding-bottom: 10px;
}

/*book block*/
.book-block {
  padding-top: 10px;
  padding-left: 10px;
}

.book-cover {
  @include box-shadow($value: $book-cover-shadow);
}

.book-info {
  margin-left: 10px;
  min-height: 193px;
  padding: 5px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

/*form envelope*/
.form-envelope-outside {
  @include box-shadow($value: $envelope-shadow);
  background-image: repeating-linear-gradient(135deg, #d85064 0, #d85064 50px, transparent 50px, transparent 80px, #4b578c 80px, #4b578c 130px, transparent 130px, transparent 160px);
  padding: 15px;
}
.form-envelope-inside {
  background: #ffffff;
  padding: 15px;
}



