// sudo service postgresql start
@import "bootstrap";
@import "bootflat";
@import "users";
@import "toastr";
@import "books";
@import "book_reviews";
@import "font-awesome-sprockets";
@import "font-awesome";

$envelope-shadow:                  0 1px 2px rgba(0, 0, 0, .2) !default;

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

body {
  background-image: image-url('background/background-wood-horizontal.jpg');
  background-size: cover;
  width: 100%;
  background-repeat: repeat-y;
  overflow-x:hidden;
}

/*landing page*/
.authentication-background {
  background-image: image-url('background/authentication.jpg');
  background-size: cover;
  position: relative;
  background-position: left bottom;
  height: 100vh;
  // padding-top: 80px;
}

.authentication-quote {
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 30px;
}

.authentication-box {
  padding-top: 80px;
}

/*shared*/
.content {
  min-height: 370px;
}
.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*search box*/
.search-box-background {
  background-image: image-url('background/search.jpg');
  background-size: cover;
  background-position: center bottom;
  position: relative;
  // min-height: 400px;
  padding-top: 300px;
  padding-bottom: 100px;
}

/*book page*/
.horizontal-wood-background {
  background-image: image-url('background/background-wood-horizontal.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
  min-height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*form envelope*/
.form-envelope-outside {
  @include box-shadow($value: $envelope-shadow);
  background-image: repeating-linear-gradient(135deg, #d85064 0, #d85064 50px, transparent 50px, transparent 80px, #4b578c 80px, #4b578c 130px, transparent 130px, transparent 160px);
  padding: 15px;
}
.form-envelope-inside {
  background: #ffffff;
  padding: 15px;
}

.fa {
  float: left;
  padding: 6px;
}

.avatar {
  width: 50px;
  height: 50px;
}

