// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$book-cover-shadow:         4px 3px 10px 4px rgba(0, 0, 0, .4) !default;

/* SMALL BOOK */

#masonry-container {
  margin: 0 auto;
  width: 100%;
}  
.small-book-block {
  width: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
  background: rgba(255, 255, 255, .6);
  
  .clearfix {
    overflow: auto;
    
    .small-book-left-sidebar {
      float: left;
      
      .small-book-cover-box {
        padding: 8px 8px 16px 8px;
        
        .small-book-cover {
          @include box-shadow($value: $book-cover-shadow);
          width: 120px;
        }
      }
    }
    
    .small-book-right-sidebar {
      margin-left: 145px;
      
      .small-book-info {
        margin: 8px 0px 0px 0px;
        min-height: 200px;
        padding: 5px;
        
        a {
          color: $darkgray-light;
          &:hover,
          &:focus {
            color: $link-font-color-hover;
            text-decoration: none;
          }
        }
      }
    }
  }
}

  
  // BIG BOOK IS HERE
  
.big-book-cover-box {
  padding: 8px 8px 16px 8px;
  
  .big-book-cover {
    @include box-shadow($value: $book-cover-shadow);
    width: 300px;
  }
}

.big-book-info {
  margin: 8px 0px 20px 0px;
  min-height: 200px;
  padding: 10px;
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
  background: rgba(255, 255, 255, .6);
}

@media screen and (min-width:800px) {
  .big-book-left-sidebar {
    float: left;
  }
  
  .big-book-right-sidebar {
    margin-left: 325px;
  }
}

@media screen and (max-width:799px) {
  .big-book-left-sidebar {
    width: 100%;
    margin: auto;
    
    .big-book-cover {
      display: block;
      margin: 0 auto;
    }
  }
  
  .big-book-right-sidebar {
    
  }
}