// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$book-cover-shadow:         4px 3px 10px 4px rgba(0, 0, 0, .4) !default;

@media screen and (min-width:1200px) {
  .big-book-left-sidebar {
    float: left;
    width: 30%;
    margin-bottom: 15px;
  }
  .big-book-right-sidebar {
    margin-left: 30%;
  }
}

@media screen and (max-width:1199px) {
  nav li {
    display: inline;
  }
}

@media screen and (min-width:1200px) {
  .small-book-left-sidebar {
    float: left;
    width: 35%;
    margin-bottom: 15px;
  }
  .small-book-right-sidebar {
    margin-left: 35%;
  }
}

@media screen and (max-width:1199px) {
  nav li {
    display: inline;
  }
}

.clearfix {
  overflow: auto;
}

/*book block*/
.book-block {
  padding-top: 10px;
  padding-left: 10px;
}

.small-book-cover {
  @include box-shadow($value: $book-cover-shadow);
  margin: 8px 0px 0px 8px;
  width: 120px;
  // float: center;
}

.big-book-cover {
  @include box-shadow($value: $book-cover-shadow);
  margin: 8px 0px 0px 8px;
  width: 300px;
  // float: center;
}

.big-book-info {
  margin: 8px 0px 20px 0px;
  min-height: 200px;
  padding: 10px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.small-book-info {
  margin: 8px 0px 8px 16px;
  min-height: 200px;
  padding: 5px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.review-list{
	.card {
		
	}	
}
