// Place all the styles related to the BookReviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$review-min-height: 150px;


.review-box {
	width:100%;
}

/*==================================================
 * Effect 
 * ===============================================*/
.effect {
  position: relative;
}
.effect:before, .effect:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 10px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
  transition: all .3s ease-in-out;
}
.effect:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.effect:hover::before,
.effect:hover::after {
  box-shadow: 0 2px 14px rgba(0,0,0,.4);
}

.effect:hover::before {
  left: 5px;
}

.effect:hover::after {
  right: 5px;
}

/*==================================================
 * note decoration
 * ===============================================*/
 
$noteBackgroundColor: #f5f9d2;
$noteBorderColor: #c3baaa;
$noteLineColor: #efcfad;

.notepaper {
  position: relative;
  margin: 0px auto;
  padding: 30px 20px 10px 200px;
  min-height: $review-min-height;
  width: 100%;
  line-height: 30px;
  color: #6a5f49;
  text-shadow: 0 1px 1px white;
  background-color: $noteBackgroundColor;
  $noteLines: top, transparent, transparent 29px, rgba($noteLineColor, .7) 29px, rgba($noteLineColor, .7) 30px;
  $noteGlow: center, cover, rgba(white, .7), rgba(white, .1) 90%;
  background-image: -webkit-radial-gradient($noteGlow), -webkit-repeating-linear-gradient($noteLines);
  background-image:    -moz-radial-gradient($noteGlow),    -moz-repeating-linear-gradient($noteLines);
  background-image:      -o-radial-gradient($noteGlow),      -o-repeating-linear-gradient($noteLines);
  border: 1px solid $noteBorderColor;
  border-color: rgba($noteBorderColor, .9);
  @include box-sizing(border-box);

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &:before {
    left: 175px;
    width: 4px;
    border: solid $noteLineColor;
    border-color: rgba($noteLineColor, .9);
    border-width: 0 1px;
  }
}

.quote {
  font-family: Georgia, serif;
  font-size: 14px;
}

.curly-quotes {
  &:before, &:after {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 48px;
    font-size: 50px;
    opacity: .2;
  }

  &:before {
    content: '\201C';
    margin-right: 4px;
    margin-left: -8px;
  }

  &:after {
    content: '\201D';
    margin-left: 4px;
    margin-right: -8px;
  }
}

.quote-by {
  display: block;
  padding-top: 15px;
  padding-right: 10px;
  text-align: right;
  font-size: 13px;
  font-style: italic;
  color: #84775c;
}

.review-writer {
	width:100%;
}

.lt-ie8 .notepaper { padding: 15px 25px; }