// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-center-pannel {
  margin-left: 145px;
  margin-right: 145px;
}

.cart-right-pannel {
  float: right;
  width: 120px;
}

.clearfix {
  overflow: auto;
}