.shelfnav-footer {
	margin-top: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

.big-avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}