.masonry-container {
  margin: 0 auto;
  width: 100%;
}  

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.shelfnav-footer {
	margin-top: 15px;
}

.small-avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

.medium-avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

.polaroid {
  text-align: center;
  a {
    display: inline-block;
  	padding: 10px 10px 15px 10px;
  	background: #fff;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  a:after {
  content: attr(title);
}
}

.big-avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin: 0px auto 12px auto;
}

.user-name {
  text-align: center;
}

.user-sidebar {
  float: left;
  width: 250px;
  height: 100%;
}

.user-block {
  float: left;
  margin: 5px;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
  background: rgba(255, 255, 255, .9);
}

.contact-block {
  text-align: center;
  display: block;
  margin: 0 auto;
  // font awesome
  .fa {
    text-align:center;
    padding: 6px;
  }
}

.user-right-panel {
  margin-left: 250px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.user-cover-background {
  background-image: image-url('background/couple-reading.jpg');
  background-size: cover;
  background-position: center bottom;
  position: relative;
  height: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}

