// Variables
//------------------------------------------------------
// $footer-background-color:            $darkgray-dark !default;
$footer-background-color:            $mighty-dark !default;
$footer-line-color:                  #888888 !default;
$footer-menu-title-color:            $lightgray-dark !default;
$footer-menu-item-color:             $mediumgray-dark !default;
$footer-menu-item-color-hover:       $mediumgray-light !default;
$footer-logo-color:                  $white !default;



// Exports
//------------------------------------------------------

@include exports("footer") {

  /**
   * footer
   * --------------------------------------------------
   */

  .footer {
    // padding: 40px 0;
    background-color: $footer-background-color;

    &-logo,
    &-nav {
      float: left;
      padding: 0 20px;
      width: 20%;
    }
    @media (max-width: 768px) {
      &-logo {
        margin-bottom: 20px;
      }
      &-logo,
      &-nav {
        float: none;
        display: block;
        width: 100%;
      }      
    }
    &-logo {
      margin-top: -5px;
      height: 32px;
      line-height: 32px;

      & img {
        margin-right: 10px;
      }
      & a {
        font-size: 20px;
        font-weight: bold;
        color: $footer-logo-color;
      }
      & a:hover,
      & a:active {
        text-decoration: none;
      }
    }
    &-nav .nav-title {
      margin-bottom: 15px;
      color: $footer-menu-title-color;
    }
    &-nav .nav-item {
      line-height: 28px;
      & > a {
        color: $footer-menu-item-color;
      }
      & > a:hover,
      & > a:active {
        color: $footer-menu-item-color-hover;
        text-decoration: none;
      }
    }
    &-copyright {
      color: $footer-menu-item-color;
    }
    // font awesome
    .fa {
      float: left;
      padding: 6px;
    }
    .footer-module-title {
      font-size: 14px;
      line-height: 12px;
      text-transform: uppercase;
      padding-bottom: 25px;
      color: rgb(255, 255, 255);
      border-bottom: 1px solid;
      border-bottom-color: $footer-line-color;
    }
    
    p, h4 {
      color: #fff;
    }
    
    .margin-top-8 {
      border-top: 1px dashed $footer-line-color;
      margin-top: 8px;
      
      .copyright-footer {
        font-size: 12px;
        text-transform: uppercase;
        color: rgb(177, 181, 169);
      }
    }
    
    hr {
      border-top: 1px solid $footer-line-color;
    }
    
    .pull-left {
      float: left;
      margin-right: 17px;
    }
  
    .pull-right {
      float: right;
    }
    
    .list-unstyled {
      padding-left: 0;
      list-style: none;
    }
  }
}

 