<footer class="footer clearfix">
  <div class="margin-top-8">
      <div class="container inner-top-vs">
      <!-- ============================================== FOOTER-TOP ============================================== -->
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="footer-module">
              <h4 class="footer-module-title">About this site</h4>
              <div class="footer-module-body m-t-20 clearfix">
                <p>
                  <span class="pull-left">
                    <%= image_tag("logo/logo_single_light.png", class: "img-responsive", alt: "BôkaBook", height: '40') %>
                  </span>
                  Bôkabook is a Ruby on Rails website that connects members to a community of readers. Use Bôkabook to find a book to borrow or share your books with readers.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 clearfix ">
            <div class="footer-module">
              <h4 class="footer-module-title">Information</h4>
              <div class="footer-module-body clearfix">
                <ul class="list-unstyled link-list">
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Terms of Use</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="footer-module">
              <h4 class="footer-module-title">Connect</h4>
              <div class="footer-module-body clearfix">
                <ul class="clearfix list-unstyled footer-social-contact">
                  <li><a href="#" class="fa fa-github" title="GitHub"></a></li>
                  <li><a href="#" class="fa fa-facebook" title="Facebook"></a></li>
                  <li><a href="#" class="fa fa-pinterest" title="Pinterest"></a></li>
                  <li><a href="#" class="fa fa-linkedin" title="Linkedin"></a></li>
                  <li><a href="#" class="fa fa-twitter" title="Twitter"></a></li>
                  <li><a href="#" class="fa fa-google-plus" title="Google Plus"></a></li>
                  <li><a href="#" class="fa fa-rss" title="Rss"></a></li>
                  <li><a href="#" class="fa fa-instagram" title="Instagram"></a></li>
                </ul>
                <div class="inner-top-xs">
                  <p>Subscribe to our weekly newsletter.</p>
                  <form class="searchform">
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" placeholder="Email Address" name="Subscribe" value="">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Subscribe!</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- ============================================== FOOTER-TOP : END ============================================== --> <hr>
      <!-- ============================================== FOOTER-BOTTOM ============================================== -->
        <div class="row">
          <div class="col-md-12">
            <div class="pull-left">
              <ul class="payment-list list-unstyled">
                <li><a href="#"><%= image_tag("other/payments.png", class: "img-responsive", alt: "Payments", height: '22') %></a></li>
              </ul>
            </div>
            <p class="copyright-footer pull-right">© 2016 Bôkabook. All rights reserved. Made with love by <a href="#"><strong>HT2 Group</strong></a></p>
          </div>
        </div>
      <!-- ============================================== FOOTER-BOTTOM : END ============================================== --> 
      </div>
  </div>
</footer>